<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    <header>
        <nav>
            <a href={% url 'home' %}>Receipts</a>
            <a href={% url 'category_list' %}>Categories</a>
            <a href={% url 'account_list' %}>Accounts</a>
            <ul>
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a href="{% url 'signup' %}">Signup</a>
                    <a href="{% url 'login' %}">Login</a>
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>
